<div>
    <dd>nome:</dd>
    <input type="text" name="Nome" size="40" />
</div>
<div>
    <dd>Idade:</dd>
    <input type="text" name="Nome" size="40" />
</div>
<div>
    <dd>Contato:</dd>
    <input type="text" name="Nome" size="40" />
</div>
<div>
    <dd>Email:</dd>
    <input type="text" name="Nome" size="40" />
</div>
<div>
    <dd>cep:</dd>
    CEP: <input type="text" name="cep" size="5" maxlength="5"> - <input type="text" name="cep2" size="3" maxlength="3">
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="button" class="btn btn-outline-primary">Adicionar</button>
    <button type="button" class="btn btn-outline-primary">Voltar</button>
</div>
