@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>PROGRAMAÇAO</b></h1>
    <div class="text-primary">começando com programaçao web </div>
    <div class="text-primary">e suas funcionalidades </div>
    <h1>MEU INSTAGRAM</h1>

    <dl>
        <dt>link do insta</dt>
        <dd><a href="https://www.instagram.com/bah_duardin/" target="_blank">Clique aqui!</a></dd>
        <dt>ou pesquise por</dt>
        <dd>bah_duardin</dd>
    </dl>

    <p> <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
